<div id="menu">
    <div class="pure-menu menu-width-restricted">

        <div ng-if="isRegular()">
            <span class="pure-menu-heading">
                <a href="/">GSS <img src="/resources/img/gss-icon.png" width="24" height="24"/></a>
            </span>

            <ul class="pure-menu-list">

                <li class="fixed-height">
                    <br/>

                    <div class="pure-menu-link">
                        Hello, {{customerType}}
                    </div>

                <li class="fixed-height">
                    <a href="#/search_gasstations" class="pure-menu-link">Search</a>
                </li>

                <li class="fixed-height">
                    <a href="#/view_fuelings" class="pure-menu-link">Fuelings</a>
                </li>

                <li class="fixed-height">
                    <a href="#/view_vehicles" class="pure-menu-link">Vehicles</a>
                </li>

                <br/>

                <li class="fixed-height">
                    <hr/>
                </li>

                <br/>

                <li class="fixed-height">
                    <a href="/logout" class="pure-menu-link">Log Out</a>
                </li>
            </ul>

        </div>

        <div ng-if="isBusiness()">
            <span class="pure-menu-heading">
                <a href="/">GSS <img src="/resources/img/gss-icon.png" width="24" height="24"/></a>
            </span>

            <ul class="pure-menu-list">

                <li class="fixed-height">
                    <br/>

                    <div class="pure-menu-link">
                        Hello, {{customerType}}
                    </div>

                <li class="fixed-height">
                    <a href="#/revenue_calculation" class="pure-menu-link">Revenue</a>
                </li>

                <li class="fixed-height">
                    <a href="#/view_gasstations" class="pure-menu-link">Stations</a>
                </li>

                <br/>

                <li class="fixed-height">
                    <hr/>
                </li>

                <br/>

                <li class="fixed-height">
                    <a href="/logout" class="pure-menu-link">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--START: view fuelings-->
<div class="site-content">
    <div class="welcome-form">
        <h1><span><b>You don't have any permissions to view this page. </b></span></h1>
    </div>
</div>
<!--END: view fueling-->