<!--START: login-->
<div class="site-content">

    <form class="pure-form pure-form-aligned">
        <h1 class="fueling-header">Login</h1>

        <fieldset>
            <div class="pure-controls">
                <label id="loginError" class="error">{{errorMessage}}</label>
            </div>
            <!--<%--User's login--%>-->
            <div class="pure-control-group">
                <label for="username">Login</label>
                <input id="username" type="text" ng-model="username"/>
            </div>

            <!--<%--User's password--%>-->
            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" ng-model="password"/>
            </div>

            <div class="centeredInDiv">
                <div class="pure-controls">
                    <button type="submit" ng-click="Login()" class="pure-button pure-button-primary">Login
                    </button>
                </div>

                <div class="pure-controls">
                    <a href="#/register">Register</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!--END: login-->
