 <!--START: register page-->
    <div class="site-content">
        <h1 class="fueling-header">Registration</h1>
        
        <form name="regForm" class="pure-form pure-form-aligned">
            <fieldset>
                <!--General error display-->
                <div class="pure-control-group">
                    <label id="globalServerError" class="error"></label>
                </div>

                <!--<%--First name--%>-->
                <!--$scope.name-->
                <div class="pure-control-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" placeholder="First name" ng-model='firstName'/>
                    <label id="firstNameError" class="error"></label>
                </div>
                
                <!--<%--Last name--%>-->
                <div class="pure-control-group">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" placeholder="Last name" ng-model='lastName'/>
                    <label id="lastNameError" class="error"></label>
                </div>

                <!--<%--Date of birth--%>-->
                <div class="pure-control-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <input type="date" id="dateOfBirth" ng-model='dateOfBirth'/>
                    <label id="dateOfBirthError" class="error"></label>
                </div>

                <!--<%--Login--%>-->
                <div class="pure-control-group">
                    <label for="login">Login</label>
                    <input type="text" id="login" placeholder="Login" ng-model='login'/>
                    <label id="loginError" class="error"></label>
                </div>

                <!--<%--Password--%>-->
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="#####" ng-model = 'password'/>
                    <label id="passwordError" class="error"></label>
                </div>

                <!--<%--Email--%>-->
                <div class="pure-control-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="your@email.com" ng-model='email'/>
                    <label id="emailError" class="error"></label>
                </div>
                
                <!--<%--Type of customers--%>-->
                <div class="pure-control-group">
                    <label for="customerType">Your group</label>
                    <select id="customerType"
                            ng-model="selectedCustomerType"
                            ng-options="customerType.typeName for customerType in customerTypes">
                        <option value="">Select your group</option>
                    </select>
                    <label id="groupError" class="error"/>
                </div>

                <!--<%--Gender selection--%>-->
                <div class="pure-control-group" ng-show="selectedCustomerType.typeName=='REGULAR'">
                    <label for="gender">Gender</label>
                    <select id="gender" ng-model="selectedGender" ng-options="gender for gender in genderGroups">
                        <option value="">Select your gender</option>
                    </select>
                    <label id="genderError" class="error"/>
                </div>

                <!--<%--Button--%>-->
                <div class="centeredInDiv">
                    <div class="pure-controls" >
                        <button type="submit"
                                class="pure-button pure-button-primary"
                                ng-click="ProcessRegistration()">Submit
                        </button>
                    </div>
                    <div class="pure-controls">
                        <a href="#/login">Already registered? Sign-in.</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!--END: register page-->